@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.sidebar {
  > div {
    @apply mt-8 flex flex-col;

    & > span {
      @apply flex justify-center;
    }

    .menu-link {
      @apply mt-2 flex items-center justify-center rounded-md bg-awa-400 px-4 py-2 text-white transition-colors hover:bg-awa-100;

      &.menu-active {
        @apply bg-awa-100 font-bold text-awa-900;
      }
    }
  }
}

.menu-header,
.menu-footer {
  .menu-link {
    @apply text-white transition-colors hover:text-awa-100;

    &.menu-active {
      @apply text-awa-100;
    }
  }
}

.page {
  > h1 {
    @apply flex justify-center text-2xl font-bold;
  }

  > h2 {
    @apply flex justify-center text-awa-300;
  }

  .page-content {
    @apply mt-8 flex flex-col justify-center text-awa-300;

    p:not(:first-child) {
      @apply mt-8;
    }

    p {
      @apply text-justify;
    }
  }
}
