@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.sidebar {
  > div {
    @apply mt-8 flex flex-col;

    & > span {
      @apply flex justify-center;
    }

    .menu-link {
      @apply mt-2 flex items-center justify-center rounded-md bg-awa-400 px-4 py-2 text-white transition-colors hover:bg-awa-100;

      &.menu-active {
        @apply bg-awa-100 font-bold text-awa-900;
      }
    }
  }
}

.menu-header,
.menu-footer {
  .menu-link {
    @apply text-white transition-colors hover:text-awa-100;

    &.menu-active {
      @apply text-awa-100;
    }
  }
}

.page {
  @apply flex flex-col gap-3;

  > h1 {
    @apply flex text-2xl justify-center text-center xl:text-5xl font-bold;
  }

  >h2,
  >p {
    @apply flex justify-center text-center;
  }

  > h2 {
    @apply text-lg;
  }

  > p {
    @apply text-awa-300;
  }

  .page-content {
    @apply mt-8 flex flex-col gap-3 justify-center text-awa-300;

    p:not(:first-child) {
      @apply mt-8;
    }

    p {
      @apply text-justify;
    }

    h3 {
      @apply text-white;
    }
  }
}
